.banana {
    -fx-max-width: 10px;
    -fx-max-width-height: 10px;
}

.field {
    -fx-background-color: green;
    -fx-min-width: 1000px;
}

.timer {
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-font-size: 1.5em;
}
